.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 930px;
    }
    @media (min-width: 1200px) {
        max-width: 1125px;
    }
}